<h1>Sala de bate-papo</h1>
<%= render "user/shared/navigation_bar" %>
<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h5 class="alert-heading">
        Adicione informações na salas das equipes cadastradas no sistema.
      </h5>

      <hr />

      <p>
        <small>Entre ou crie uma sala de bate-papo agora mesmo.</small>
      </p>
    </div>
  </div>
</div>
